//  display
$values1: none, inline, block, inline-block, flex, inline-flex, grid,
  inline-grid;
@each $value in $values1 {
  .d-#{$value} {
    display: $value;
  }
}

//  position
$values2: relative, absolute, fixed, sticky;
@each $value in $values2 {
  .p-#{$value} {
    position: $value;
  }
}

// content for screen-readers
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Переповнення текстових блоків
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// Центрування для тексту
.text-center {
  text-align: center;
}
